<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New pairings are available!</h1>
    <p>
    Here are the pairings for Round <%= round.index %>:
    </p>
    <p>
    <%= pairing.round_id %>
    </p>
    <p>Good luck!</p>
    <p>
      To learn more about the Tab Room application, visit our website: <%= @tabroom.info %>.
    </p>
  </body>
</html>

