<h1>Admin Dashboard</h1>
<br />
<table cellspacing="5px" cellpadding="10px">
<tr>
<td><a href="/teams"><img src="/images/teams.png" width="70px" height="70px"></a></td>
<td></td>
<td><a href="/rounds"><img src="/images/rounds.png" width="70px" height="70px"></a><br /></td>
</tr>
<tr>
<td align="center">
Teams
</td>
<td></td>
<td align="center">
Rounds
</td>
</tr>
</table>