<h1>Listing rounds</h1>

<table>
  <tr>
    <th>Tournament</th>
    <th>Plaintiff/Prosecution</th>
    <th>Defense</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rounds.each do |round| %>
  <tr>
    <td><%= round.tournament_id %></td>
    <td>0</td>
    <td>0</td>
    <td><%= link_to 'Show', tournament_round_path %></td>
    <td><%= link_to 'Edit', edit_round_path(round) %></td>
    <td><%= link_to 'Destroy', round, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
