<header class="jumbotron masthead">
  <div class="inner">
    <h1>Welcome to Tab Room</h1>
    <p>Are you a competitor or tournament administrator?</p>
    <p>
    <a href="/tournaments" class="btn btn-primary btn-large">Competitor</a>
    <%= link_to "Administrator", new_user_session_path, :class => "btn btn-primary btn-large"  %> 
    </p>
  </div>