<header class="jumbotron masthead">
  <div class="inner">
    <h1>Welcome to Tab Room</h1>
    <p>Are you a competitor or tournament administrator?</p>
    <p>
    <a href="/tournaments" class="btn btn-primary btn-large">Competitor</a>
    <a href="/admin_dashboard" class="btn btn-primary btn-large">Administrator</a> 
    </p>
  </div>