<h1>Listing pairings</h1>

<table cellpadding="10px" class="table table-striped">
  <tr>
    <th>Round</th>
  </tr>

<% @pairings.each do |pairing| %>
  <tr>
    <td><%= pairing.round_id %></
  </tr>
<% end %>
</table>

<br />
